
#wrapper{
  font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  padding-left: 0px;
  transition: all 0.4s ease 0s;
  max-width: 100%;
}
#main{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 58px;
	max-width: 100%;
}
#content{
  padding-top:10px; 
  max-width: 100%;
}
#content a{
	text-decoration:none;
	
}
.content img,.content video{max-width:100%;}
.content a img{background:#FFF;position:relative;bottom:-4px;}
.article{
	max-width: 100%;
  font-size: 14px;
  margin:0px auto 30px auto;  
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
  
}


.post-article{
	 color:rgba(0,0,0,0.6);
	max-width: 100%;
line-height: 1.6;
  font-size: 14px;
  margin:0px auto 30px auto;  
}
.post-article a:link{
	 color:rgb(51,119,170);
  text-decoration:underline;
}
.post-article a:visited{
   color:rgb(51,119,170);
  text-decoration:underline;
}
.post-article a:hover{
   color:#fff;
    background-color:rgb(51,119,170);
  text-decoration:underline;
}
.post-article a:active{
   color:rgba(51,119,170,0.8);
  text-decoration:underline;
}
.article-title{
  color:rgba(0,0,0,0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom:4px;
  line-height:1.1
}
.article-title a{
color:rgba(0,0,0,0.8);
text-decoration:none;
}

.article-description{
  color:rgba(0,0,0,0.6);
  font-weight: 400;
  line-height: 1.6;
  padding-top: 5px;
}
.article-description a{
  color:rgba(0,0,0,0.6);
  text-decoration:none;
}

.article-footer{
  color:rgba(0,0,0,0.44);
  font-size: 16px;
}
.article-footer a{
color:rgba(0,0,0,0.44);
text-decoration:none;
}
#prev-article{
display: block;
  margin-bottom: 10px;
  color:rgba(0,0,0,0.6);

}
#next-article{
	display: block;
  
  color:rgba(0,0,0,0.6);
}
#crumbs_patch{

  color:rgba(0,0,0,0.6);
  padding-top: 10px;
  font-size: 20px;
  margin:0px auto 0px auto; 
}
#crumbs_patch a{

  color:rgba(0,0,0,0.8);
 text-decoration:none;

}
.bdsharebuttonbox{
	display: none;
}
#comments{
  font-size: 14px;
  margin:0px auto 10px auto;  
  padding-bottom: 15px;
}


#sidebar-wrapper {
  margin-left: -250px;
  left: 0px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
 /* overflow-y: auto;*/ /*左侧有下拉*/
  z-index: 1000;

}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#search-input{
   display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  margin-bottom: 20px;
}


#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {

  display: inline-block;
  position:fixed;
  left: 10px;
  top:10px;
}
#menu-toggle.active{
  display: inline-block;
  position: fixed;
  left: 260px;
  top:10px;
  transition: all 0.4s ease 0s;
}

#page{
font-size: 20px;
margin-top: 17px;
margin-bottom: 107px;
}
#page a{
    color:rgba(0,0,0,0.7);
  text-decoration:none;
}
#footer{position: absolute;
bottom: 0;
padding: 10px 0;

max-width: 100%;}
.tags a{
  
  background-color: #DDDDDD;
}


@media (min-width: 768px){
	#wrapper {
  padding-left: 0px;
}

#sidebar-wrapper {
  left: 0px;
}

#main{
  padding-top: 0px;
  padding-left: 10%;
  padding-right: 20%;
}
#menu-toggle {

  display: inline-block;
  position:fixed;
  left: 10px;
  top:10px;
}
.article{
  font-size: 16px;
  margin:0px auto 30px auto;  
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
  
}
.article-title{
  color:rgba(0,0,0,0.8);
  font-size: 28px;
  font-weight: 700;
  margin-bottom:4px;
  line-height:1.1
}
.post-article{
line-height: 1.6;
  font-size: 16px;
  margin:0px auto 30px auto;  
 
  
}

#page{
font-size: 20px;
margin-top: 17px;
margin-bottom: 107px;
}
#crumbs_patch{

  color:rgba(0,0,0,0.6);
  padding-top: 10px;
  font-size: 20px;
  margin:0px auto 0px auto; 
}
#comments{
  font-size: 16px;
  margin:0px auto 30px auto;  
  padding-bottom: 15px;
}
.bdsharebuttonbox{
	display: inline-block;
}

}
@media (min-width: 992px) { 
#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  left: 250px;
}
#main{
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 20%;
}
#menu-toggle {
  display: none;
}
.article{
  font-size: 16px;
  margin:0px auto 30px auto;  
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
  
}
.article-title{
  color:rgba(0,0,0,0.8);
  font-size: 28px;
  font-weight: 700;
  margin-bottom:4px;
  line-height:1.1
}
.post-article{
	color:rgba(0,0,0,0.8);
line-height: 1.6;
  font-size: 16px;
  margin:0px auto 30px auto;  
 
  
}

#page{
font-size: 20px;
margin-top: 17px;
margin-bottom: 107px;
}
#crumbs_patch{

  color:rgba(0,0,0,0.6);
  padding-top: 10px;
  font-size: 20px;
  margin:0px auto 0px auto; 
}
#comments{
  font-size: 16px;
  margin:0px auto 30px auto;  
  padding-bottom: 15px;
}
.bdsharebuttonbox{
	display: inline-block;
}

 }